/* HTML */

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


/* Body */

body {
    background-color: rgb(220, 220, 220);
    background: url(images/bg.png) no-repeat left center fixed;
    background-size: cover;
    margin: 0;
}


/* Futura Font */

@font-face {
  font-family: "Futura";
  src:
    local("Futura"),
    url(fonts/Futura-Medium.ttf) format("truetype");
}


/* Navigation Bar */

.topnav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    z-index: 3;
    padding-right: 15px;
    padding-left: 15px;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Futura";
}

.topnav #logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 36px;
    font-family: "Futura";
}

.topnav #blank {
    height: 27px;
    width: 0px;
    pointer-events: none;
    cursor: default;
}

.topnav a:hover {
    background-color: #eee;
}

.topnav a:hover #logo {
    background-color: #333;
}

.topnav #current {
    color: rgb(255, 145, 64);
}

.topnav #icon {
    display: none;
}


/* Header */

#header {
    margin: 0 auto;
    position: relative;
    top: 105px;
    left: 0;
    width: 65%;
    max-width: 1000px;
    transform: translate(0%, 0%);
    background-color: #333;
    font-size: 25px;
    font-family: "Futura";
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}


/* Content */

.content {
    margin: 0 auto;
    position: relative;
    top: 120px;
    left: 0;
    width: 65%;
    max-width: 1000px;
    transform: translate(0%, 0%);
    background-color: rgba(255, 255, 255, 0.60);
    font-size: 20px;
    font-family: "Futura";
    color: black;
    padding: 20px;
    visibility: hidden;
}

.content p {
    font-size: 15px;
    color: dimgrey;
}


/* Content Dividers */

#small {
    font-size: 35px;
}

#blue_break {
    border-color: rgb(81, 174, 255);
    border-style: solid;
}

#small_break {
    line-height: 15px;
}

#grey_break {
    border-color: rgb(150, 150, 150);
    border-style: solid;
}


/* About Me */

#about_content img {
    float: right;
    padding: 10px;
    align-content: center;
}

#about_content a {
    color: rgb(81, 174, 255);
    text-decoration: none;
}

#about_content a:hover {
    text-decoration: underline;
}

em {
    font-size: 14px;
    color: grey;
}


/* My Apps */

#apps_content table {
    table-layout: fixed;
    border-collapse: collapse;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
}

#apps_content .desc {
    width: 60%;
}

#apps_content .appinfo {
    width: 200px;
}

#apps_content #space {
    width: 0%;
}

#apps_content #info {
    font-size: 12px;
}

#apps_content a {
    color: rgb(81, 174, 255);
    text-decoration: none;
    float: left;
    margin-top: -15px;
}

#apps_content a:hover {
    text-decoration: underline;
}


/* Resume */

#resume_content {
    max-width: 800px;
}

#resume_content a {
    color: rgb(81, 174, 255);
    text-decoration: none;
}

#resume_content a:hover {
    text-decoration: underline;
}

#resume_content img {
    width: 100%;
}

#resume_download {
    margin-bottom: 5px;
}


/* Blog */

#blog {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -2px;
    margin-bottom: -5px;
}

.comments a {
    color: rgb(125, 125, 125);
    text-align: left;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    float: left;
}

.report a {
    margin-left: 3px;
    color: rgb(125, 125, 125);
    text-align: left;
    background-color: rgba(255, 200, 200, 0.60);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    float: right;
}

#blog_content h3 {
    color: rgb(255, 145, 64);
    font-weight: normal;
    font-size: 23px;
    padding: 0px;
    margin: 0px;
}

#blog_content h4 {
    color: black;
    font-size: 17px;
    font-weight: normal;
    color: rgb(81, 174, 255);
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}


/* Contact */

input, select, textarea, button{font-family:inherit;}

#contact_content input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-size: 16px;
    width: 250px;
    margin-left: 2px;
}

#contact_content textarea {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-size: 16px;
    width: 500px;
    margin-left: 2px;
    margin-bottom: 15px;
}

#contact_content input[type="submit"] {
    background-color: rgb(81, 174, 255);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-input-placeholder {
    font-family: "Futura";
}
:-moz-placeholder {
    font-family: "Futura";
}
::-moz-placeholder {
    font-family: "Futura";
}
:-ms-input-placeholder {
    font-family: "Futura";
}


/* Links */

.linkinfo a {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 5px;
    padding: 5px;
}


/* Footer */

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #333;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    font-family: "Futura";
    color: white;
}


/* Extra Space Below Footer */

#extra {
    margin: 0 auto;
    position: relative;
    height: 100px;
    top: 100px;
}


/* For Video Playback on Site */

#videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -50%);
    display: inline;
    z-index: 100;
}

#videoContainer iframe,
#videoContainer object,
#videoContainer embed {
    width: 192%;
    height: 331px;
}


/* Media Queries */

@media only screen and (max-device-width: 809px), only screen and (max-width: 809px) { 
    
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a#icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a#icon {
        position: absolute;
        right: 15px;
        top: 0;
    }
    
    #header, .content {
        width: calc(100% - 60px);
    }
    
    .content {
        font-size: 16px;
    }
  
    #apps_content a {
        font-size: 15px;
        margin-left: -5px;
        margin-right: -20px;
    }
  
    #resume_content a {
        font-size: 15px;
    }
    
    #about_content img {
        width: 150px;
        height: 150px;
    }
  
    #apps_content img {
        width: 100px;
        height: 100px;
    }
    
    #contact_content input[type="text"] {
        width: 90%;
        max-width: 200px;
    }
    
    #contact_content textarea {
        width: 90%;
        max-width: 400px;
    }
    
    em {
        font-size: 12px;
    }
}

/* 1440 width breakpoint */
@media only screen and (max-width: 1439px) {
    #apps_content .desc {
        width: 55%;
    }
}

/* 1280 width breakpoint */
@media only screen and (max-width: 1279px) {
    #apps_content .desc {
        width: 100%;
    }
}
